* { 
    box-sizing: border-box;
}

body{ 
    margin: 0; 
    min-height: 100 vh;

    background-color: #017a05; 
    color: #106789; 

    font-family: 
Arial, sans-serif, Helvetica; 
 }

 .poster{
    min-height: 100 vh;
    
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: 60 px;
 }

 .label {
    margin-bottom: 24 px;

    font-size: 12 px;
   letter-spacing: 5 px;

   color: rgba (238, 229, 207, 0.5);
 } 
 .image{
    width: 200 px; 
    height: 200 px;
    margin-bottom: 35 px;
    background-size: cover;
    background-position: center;
    border: 1 px solid rgba (238, 229, 207, 0.5);

    background-image: url("img/The Rabit Hole.png");
    background-image: url("img/Mad Tea Party.png");
    background-image: url("img/Long Hall.png");
    background-image: url("img/Time Castle.png");
    background-image: url("img/Bottom of the Rabit Hole.png");
 }
 h1{ 
    margin: 0; 

    font-size: 64 px;
    letter-spacing: 6 px;

    color: #ff4823; 
 }
 p{ 
    max-width: 460 px;

    margin-top: 16 px;
    margin-bottom: 0;

    text-align: center;
    line-height: 1.6;
    color: rgba (238, 229, 207, 0.5);
 }
